*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.square {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container-hard {
    display: flex;
    flex-flow: row wrap;
    width: calc(40px * 10 + 2px);
    margin: 70px auto;
    border: 1px solid black;
}

.grid-container-medium {
    display: flex;
    flex-flow: row wrap;
    width: calc(40px * 9 + 2px);
    margin: 70px auto;
    border: 1px solid black;
}

.grid-container-easy {
    display: flex;
    flex-flow: row wrap;
    width: calc(40px * 7 + 2px);
    margin: 70px auto;
    border: 1px solid black;
}

.colorBackground {
    background-color: aquamarine;
}