*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 30px;
    height: 100px;
}

header .title img {
    max-height: 150%;
}

header .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

header .title h1 {
    font-size: 3em;
}

main {
    background-color: #7fffd4;
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
}

.square {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.square:hover {
    background-color: rgba(0, 0, 139, 0.322);
}

.grid-container-hard {
    display: none;
    flex-flow: row wrap;
    width: calc(40px * 10 + 2px);
    margin: auto;
    border: 1px solid black;
}

.grid-container-medium {
    display: none;
    flex-flow: row wrap;
    width: calc(40px * 9 + 2px);
    margin: auto;
    border: 1px solid black;
}

.grid-container-easy {
    display: none;
    flex-flow: row wrap;
    width: calc(40px * 7 + 2px);
    margin: auto;
    border: 1px solid black;
}

.colorBackground {
    background-color: rgb(127, 136, 255);
}

.start {
    display: flex;
    align-items: center;
    gap: 20px;
}

.difficulty {
    display: flex;
    gap: 10px;
}

.difficulty span {
    font-size: 1.5em;
    font-weight: bold;
}

.difficulty #difficult-choose {
    padding: 0 10px;
}

#start-game {
    padding: 7px;
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}